services:
  backend:
    build:
      context: ./backend
    ports:
      - "9000:9000"
    environment:
      TUSHARE_TOKEN: e14d179a9b5acda0028ea672ecb535d9541402ba5e15e31687a4439e
      DATA_DIR: /data
      DUCKDB_PATH: /data/quant.duckdb
      REDIS_URL: redis://redis:6379/0
    volumes:
      - ./data:/data
    depends_on:
      - redis

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_BASE_URL: http://localhost:9000/api
    depends_on:
      - backend

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  redis-data:
